<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!-- 自动扫描webService -->
    <context:component-scan base-package="com.webservice"/>

    <!--服务端发布的webservice在spring中使用jaxws:endpoint元素来暴露Web Service
         id：指在spring配置的bean的ID
         Implementor:指明具体的实现类
         Address:指明这个web service的相对地址 -->
    <jaxws:endpoint id="HelloWorld" implementor="com.webservice.impl.HelloWorldImpl" address="/hello"/>

    <!--  Cxf WebService 服务端示例 -->
    <jaxws:endpoint id="DemoWebservice" implementor="com.webservice.impl.DemoWebserviceImpl" address="/demo"/>

    <!--  Cxf WebService 客户端示例 -->
    <jaxws:client id="DemoClient" serviceClass="com.webservice.DemoWebservice" address="http://localhost:8082/webservice/demo?wsdl" />

</beans>
